{% load usertags %}
{% load staticfiles %}
{% load static %}
<div class="bs-component">
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">                      
                    <h4 class="modal-title">
                        <a href="#" class="" title="Ver Todos">
                            <i class="fa fa-user"></i></a> 
                        Lista de Usuarios
                    </h4>
                </div>
                <div class="modal-body"> 
                    <div class="list-group">
                        {% for profile in users %}
                        
                            <a href="" class="list-group-item"><img src="{% get_media_prefix %}/{{profile.avatar}}" height="36px" alt="no avatar"/>
                                {{profile.user.username.title}}
                            </a>
                            </p>
                        {% endfor %}                    
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

