{% load usertags %}
{% load staticfiles %}
{% load static %}
<div class="bs-component">
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">                      
                    <h4 class="modal-title"><a href="{% url 'main:edit_social_profile' %}" class=""><i class="fa fa-edit"></i></a> Mi Perfil</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <p><img src="{% get_media_prefix %}/{{user.userprofile.avatar}}" height="96px" alt="{% get_media_prefix %}/image/noAvatar.png"/></p>
                        <p><a href="" class=""><i class="fa fa-{{user.userprofile.genre_icon}}"></i> {{user.username.title}}</a></p>
                        {% if user.userprofile.web %}
                        <p><a href="{{user.userprofile.web}}" target="_blank"><i class="fa fa-link"></i> {{user.userprofile.web}}</a></p>
                        {% endif %}
                        {% if user.userprofile.googleplus %}
                        <p><a href="{{user.userprofile.googleplus}}" target="_blank"><i class="fa fa-google-plus"></i> {{user.userprofile.googleplus}}</a></p>
                        {% endif %}
                        {% if user.userprofile.twitter %}
                        <p><a href="{{user.userprofile.twitter}}" target="_blank"><i class="fa fa-twitter"></i> {{user.userprofile.twitter}}</a></p>                        
                        {% endif %}
                    </center>
                </div>

            </div>
        </div>
    </div>
</div>

