{% extends 'base.html' %}

{% load static %}



{% block content %}

<div class="row top_position">
    <div class="col-md-3 visible-lg"><!--Visible solo en desktop-->
        <div class="bs-component">
            <div class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">                      
                            <h4 class="modal-title"><a href="" class=""><i class="fa fa-edit"></i></a> Mi Perfil</h4>
                        </div>
                        <div class="modal-body">
                            <center>
                                <p><img src="{% get_media_prefix %}/{{user.userprofile.avatar}}" height="96px" alt="{{user.username}}"/></p>
                                <p><i class="fa fa-{{user.userprofile.genre_icon}}"></i> {{user.username.title}}</p>
                                <a href="#">Cambiar Password</a>
                            </center>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>   
    <div class="col-md-9">

        <div class="bs-component">
            <div class="modal">
                <div class="modal-dialog">
                    <div class="modal-content top_position">                    

                        <h3>Editar mi perfil social.</h3>
                        <div class="forms">
                        <form action="{% url 'main:edit_social_profile' %}"  method="post">
                            {% csrf_token %}        
                            {{ form.as_p }}
                            <input type="submit" class="btn btn-lg btn-primary btn-primary btn-margin" name="si_volver" value="Guardar y Regresar" />
                            <input type="submit" class="btn btn-lg btn-primary btn-info btn-margin" name="no_volver" value="Guardar y Continuar" />
                    <br><br>        
                        </form>
                            </div>


                    </div>
                    
                </div>
            </div>
        </div>

    </div> 
</div>

{% endblock %}

{% block scripts %}


<script type="text/javascript">           
    $(function() {
        $( "#id_birth_date" ).datepicker({
            dateFormat: "dd/mm/yy",
        });
    });        

</script>
{% endblock %}