textarea{
    margin-bottom: 5px;
    margin-left: 5%;
    width: 90%;   
    resize: none;
}

code{
    background-color: cadetblue;
    color: white;
    
}


.top_position{
    margin-top: 30px;   
}
.div_messages{
    position:absolute;
    z-index: 10000;    
    top: 40px;
    right: 50px;
}
.div_close_messages{
    position:relative;
    z-index: 10001;
    right: 0px;
    top: 0px;
}




.bs-component {

    position: relative;
}
.bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;

}
.bs-component .modal-dialog {

    width: 95%
}


.buttons-div{    
    padding-top: 10px;
    margin-left: 80%;
}
.buttons-div button{
    width: 50px;

}

.btn-margin{
    margin-right: 3px;
    margin-left: 3px;
}

.modal-content h3{
    padding-left: 15px;   
}
.pytters{
    min-height: 100px;
}
.forms{
    width: 95%;
    margin: auto;
}