textarea{
    margin-bottom: 5px;
    margin-left: 5%;
    width: 90%;   
    resize: none;
}

code{
    background-color: cadetblue;
    color: white;

}


.top_position{
    margin-top: 30px;   
}

.login_top_position{
    margin-top: 50px;   
}

.div_messages{
    position:absolute;
    z-index: 10000;    
    top: 40px;
    right: 50px;
}
.div_close_messages{
    position:relative;
    z-index: 10001;
    right: 0px;
    top: 0px;
}




.bs-component {

    position: relative;
}
.bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;

}
.bs-component .modal-dialog {

    width: 95%
}


.buttons-div{    
    padding-top: 10px;
    margin-left: 80%;
}
.buttons-div button{
    width: 50px;

}

.btn-margin{
    margin-right: 3px;
    margin-left: 3px;
}

.modal-content h3{
    padding-left: 15px;   
}
.pytters{
    min-height: 100px;
}
.forms{
    width: 95%;
    margin: auto;
}

.title_pytt{
    padding-right: 50px;   
}

.buttons-sending{
    position: absolute;
    right: 20px;
    top:20px;
    z-index: 10000;
}
.compile_output{
    position: absolute;       
    width: 80%;
    z-index: 10002;
    margin-left: 10%;
    margin-top: 10%
}

.fotito_pytt{
    background-color: rgb(255, 255, 255);
    border-color: rgba(154, 154, 154, 0.78);
    border-style: solid;
    width: 60px;
    height: 40px;
}

.color-title{
    color: white !important;
}

.background_login{
    background: #2391b2; /* Old browsers */
    background: -moz-linear-gradient(top, #2391b2 0%, #85dcf7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2391b2), color-stop(100%,#85dcf7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2391b2 0%,#85dcf7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2391b2 0%,#85dcf7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2391b2 0%,#85dcf7 100%); /* IE10+ */
    background: linear-gradient(to bottom, #2391b2 0%,#85dcf7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2391b2', endColorstr='#85dcf7',GradientType=0 ); /* IE6-9 */  
    min-height: 768px;
    overflow:hidden;
}