<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Pytter - Como el pajarito pero mas ñoño</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" media="screen">        
        <link rel="stylesheet" href="{% static 'css/app.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'css/jquery-ui.theme.min.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'css/codemirror.css' %}" media="screen">

        {% block extra_header %}

        {% endblock %}

    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">
                        <object id="logo" width="120px" height="34px" type="image/svg+xml" data="{% static 'images/pytter.svg' %}">

                        </object>                        

                    </a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">


                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        
                        <li class="hidden-lg">
                            <i class="fa fa-user-secret"></i>
                            Yo!
                        </li> <!-- no se ve en desktop-->
                        <li><a href="{% url 'main:desloguearse' %}">Logout</a></li>
                    </ul>

                </div>
            </div>
        </div>


        <div class="container"> 
            <div class="div_messages">
                <ul class="messages">                    
                    {% for message in messages %}
                    <div>

                        <div id="msg_{{forloop.counter}}" class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                            <div id="cmd_{{forloop.counter}}" onclick="$(this).parent().remove();"  class="btn btn-xs btn-default div_close_messages"><i class="fa fa-close"></i></div>
                            <strong></strong> {{ message }}
                        </div>                
                    </div>
                    {% endfor %}
                </ul>     
            </div>
            <br>
            {% block content %}

            {% endblock %}


        </div>


    </body>

    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>    

    <!--script src="{% static 'js/Behave.js' %}"></script>-->
    <script src="{% static 'js/app.js' %}"></script>   
    
    
    <script src="{% static 'js/codemirror.js' %}"></script>  
    <script src="{% static 'js/matchbrackets.js' %}"></script>  
    <script src="{% static 'js/python.js' %}"></script>  
    
    
    
    {% block scripts %}
    {% endblock %}

</html>
