{% extends 'base.html' %}


{% load static %}

{% block extra_header %}
{% endblock %}


{% block content %}

<div class="row top_position">
    <div class="col-md-3 visible-lg"><!--Visible solo en desktop-->
        {% include 'user/_user_column.html' %}
        {% include 'user/_lastuser_column.html' %}

    </div>   
    <div class="col-md-9">

        <div class="bs-component">
            <div class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">                    

                        <div class="row">
                            <div class="col-md-1 hidden-xs">
                                <h3><img src="{% get_media_prefix %}/{{user.userprofile.avatar}}" height="36px" alt="{% get_media_prefix %}/image/noAvatar.png"/></h3>
                            </div>
                            <div class="col-md-10" style="padding-top: 15px">
                                <input maxlength="64" id="title_pytt" type="text" placeholder="Título del pytt" name="title "value="" class="form-control"/>
                            </div>

                        </div>
                        <textarea id="code" class="">## Description: </textarea> 

                        <br>
                        <div class="row">

                            <div class="col-md-3 col-md-offset-9 visible-lg">
                                <button  id="mandar" class="btn btn-info">
                                    <i class="fa fa-cogs"></i>
                                </button>
                                <button class="btn btn-success ">
                                    <i class="fa fa-bolt"></i>
                                </button>
                            </div>                                           

                        </div>
                        <br>

                        <div class=" hidden-lg">
                            <button  id="mandar" class="btn btn-info">
                                <i class="fa fa-cogs"></i>
                            </button>
                            <button class="btn btn-success ">
                                <i class="fa fa-bolt"></i>
                            </button>
                        </div>



                    </div>
                </div>
            </div>
        </div>

        <div class="bs-component">
            <div class="modal">
                <div class="modal-dialog">
                    <div class="modal-content pytters">
                        <h3>Que están probando!!!</h3>


                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>

{% endblock %}
{% block scripts %}

<script>


    //PARA VER Y OCULTAR LA LISTA DE DESMATRICULADOS




    var activeEditor = true;

    $('#code').hide();

    $('body').on('keyup', '#title_pytt', function(e){
        if ($('#title_pytt').val()===''){
         alert("Vacio");
            //TODO - Quitar el editor
        }
        if (activeEditor === true){
            activeEditor = false;
            $('#code').show();
            var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                mode: {name: "python",
                       version: 2,
                       singleLineStringErrors: false},
                lineNumbers: true,
                indentUnit: 4,
                matchBrackets: true,        
            });
        }
    });

    $("#mandar").click(function(){
        var url = "{% url 'main:ejecutar' %}";
        alert(url);
        $.ajax({url: url, 
                data:{ python: $('#code').val},
                method: post,
                success: function(result){
                    $("#modal-body").html(result);
                },
                error: function(result){
                    $("#modal-body").html("ERROR");
                }
               });
    });

</script>
{% endblock %}