

{% load static %}
<!DOCTYPE html>
<html lang="es">

    <head>

        <meta charset="utf-8">
        <title>Pytter - Como el pajarito pero mas ñoño</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" media="screen">        
        <link rel="stylesheet" href="{% static 'css/app.css' %}" media="screen">
        {% block extra_header %}

        {% endblock %}    

    </head>

    <body>
        <div class="container">

            <div class="row">
                <div class="col-md-4 col-md-offset-4">

                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <img type="image/png" src="{{STATIC_URL}}images/logo_amparo.png" height="32" width="32"/>
                                Loguearse
                            </h3>
                        </div>

                        <div class="panel-body">
                            <ul class="messages">
                                {% for message in messages %}
                                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                                    <strong></strong> {{ message }}
                                </div>

                                {% endfor %}
                            </ul>
                            <form action="" role="form" method="POST">{% csrf_token %}
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Usuario" name="username" type="username" required autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Contrase&ntilde;a" name="password" type="password" required>
                                    </div>

                                    <!-- Change this to a button or input when using this as a form -->
                                    <input class="btn btn-lg btn-success btn-block" type="submit" value="Ingresar">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>    

        <script src="{% static 'js/Behave.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>  

    </body>